<html>
	<head>
		 <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all"/>  
		 <%= javascript_include_tag "application" %>
  	 <%= csrf_meta_tags %>
	</head>
	<body>
		<div id="header">
      <h1>Project Management System</h1>
    </div>
    <div id="main">
     	<% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
      <% end %>
      <div id="content">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <p></p>
    </div>
	</body>
</html>
